body{
  background-color:rgb(46, 46, 46);
  color:rgb(216, 216, 216);
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-body{
  background-color:rgb(58, 109, 58);
  /* margin:auto; */
  max-width: 500px;
  /* font-weight:bold; */
}

.card-title{
  font-size: 2rem;
}